<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>pluginOff</key>
		<false/>
		<key>isSafePlugin</key>
		<true/>
		<key>pluginName</key>
		<string>UI检查</string>
		<key>pluginInfo</key>
		<string>by 氚雨</string>
		<key>pluginIconName</key>
		<string></string>
		<key>pluginCharIconText</key>
		<string>▣</string>
		<key>pluginCharIconColorHex</key>
		<string>000000</string>
		<key>pluginCategoryName</key>
		<string>常用工具</string>
		<key>pluginClassName</key>
		<string>YKWProbeRulerPlugin</string>
		<key>pluginParameters</key>
		<dict/>
	</dict>
	<dict>
		<key>isSafePlugin</key>
		<true/>
		<key>pluginName</key>
		<string>JSON抓包</string>
		<key>pluginInfo</key>
		<string>by 氚雨</string>
		<key>pluginCharIconText</key>
		<string>✉</string>
		<key>pluginCategoryName</key>
		<string>常用工具</string>
		<key>pluginClassName</key>
		<string>YKWJSONGrabPlugin</string>
	</dict>
	<dict>
		<key>pluginName</key>
		<string>方法监听</string>
		<key>pluginInfo</key>
		<string>by 氚雨</string>
		<key>pluginCharIconText</key>
		<string>~</string>
		<key>pluginCategoryName</key>
		<string>常用工具</string>
		<key>pluginClassName</key>
		<string>YKWCommandPlugin</string>
	</dict>
	<dict>
		<key>isSafePlugin</key>
		<true/>
		<key>pluginName</key>
		<string>系统信息</string>
		<key>pluginInfo</key>
		<string>by 氚雨</string>
		<key>pluginCharIconText</key>
		<string>ⓘ</string>
		<key>pluginCategoryName</key>
		<string>调试工具</string>
		<key>pluginClassName</key>
		<string>YKWSysInfoPlugin</string>
	</dict>
	<dict>
		<key>pluginName</key>
		<string>po命令</string>
		<key>pluginInfo</key>
		<string>by 氚雨</string>
		<key>pluginCharIconText</key>
		<string>po</string>
		<key>pluginCategoryName</key>
		<string>常用工具</string>
		<key>pluginClassName</key>
		<string>YKWPoCommandPlugin</string>
	</dict>
	<dict>
		<key>pluginName</key>
		<string>SandBox</string>
		<key>pluginInfo</key>
		<string>by 氚雨</string>
		<key>pluginCharIconText</key>
		<string>▤</string>
		<key>pluginCategoryName</key>
		<string>调试工具</string>
		<key>pluginClassName</key>
		<string>YKWSandBoxPlugin</string>
	</dict>
	<dict>
		<key>isSafePlugin</key>
		<true/>
		<key>pluginName</key>
		<string>触点显示</string>
		<key>pluginInfo</key>
		<string>by 氚雨</string>
		<key>pluginCharIconText</key>
		<string>◉</string>
		<key>pluginCategoryName</key>
		<string>UI工具</string>
		<key>pluginClassName</key>
		<string>YKWTouchIndicatorPlugin</string>
	</dict>
	<dict>
		<key>pluginName</key>
		<string>资源目录</string>
		<key>pluginInfo</key>
		<string>by Zim</string>
		<key>pluginCharIconText</key>
		<string>❉</string>
		<key>pluginCategoryName</key>
		<string>调试工具</string>
		<key>pluginClassName</key>
		<string>YKWBundleResourcePlugin</string>
	</dict>
	<dict>
		<key>pluginName</key>
		<string>Defaults</string>
		<key>pluginInfo</key>
		<string>by 氚雨</string>
		<key>pluginCharIconText</key>
		<string>❃</string>
		<key>pluginCategoryName</key>
		<string>调试工具</string>
		<key>pluginClassName</key>
		<string>YKWUserDefaultsPlugin</string>
	</dict>
	<dict>
		<key>pluginName</key>
		<string>Crash</string>
		<key>pluginInfo</key>
		<string>by 氚雨</string>
		<key>pluginCharIconText</key>
		<string>☠</string>
		<key>pluginCategoryName</key>
		<string>调试工具</string>
		<key>pluginClassName</key>
		<string>YKWCrashLogPlugin</string>
	</dict>
	<dict>
		<key>pluginName</key>
		<string>清除数据</string>
		<key>pluginInfo</key>
		<string>主要功能来自网络</string>
		<key>pluginCharIconText</key>
		<string>☒</string>
		<key>pluginCategoryName</key>
		<string>调试工具</string>
		<key>pluginClassName</key>
		<string>YKWClearDataPlugin</string>
	</dict>
	<dict>
		<key>pluginName</key>
		<string>资源图片</string>
		<key>pluginInfo</key>
		<string>by 十朋</string>
		<key>pluginCharIconText</key>
		<string>❏</string>
		<key>pluginCategoryName</key>
		<string>UI工具</string>
		<key>pluginClassName</key>
		<string>YKWAllImagesPlugin</string>
	</dict>
	<dict>
		<key>pluginName</key>
		<string>UI对比</string>
		<key>pluginInfo</key>
		<string>by 氚雨</string>
		<key>pluginCharIconText</key>
		<string>۞</string>
		<key>pluginCategoryName</key>
		<string>UI工具</string>
		<key>pluginClassName</key>
		<string>YKWUIComparePlugin</string>
	</dict>
	<dict>
		<key>pluginName</key>
		<string>CPU</string>
		<key>pluginInfo</key>
		<string>主要功能来自网络</string>
		<key>pluginCharIconText</key>
		<string>▩</string>
		<key>pluginCategoryName</key>
		<string>性能工具</string>
		<key>pluginClassName</key>
		<string>YKWCPUPlugin</string>
	</dict>
	<dict>
		<key>pluginName</key>
		<string>内存</string>
		<key>pluginInfo</key>
		<string>主要功能来自网络</string>
		<key>pluginCharIconText</key>
		<string>▦</string>
		<key>pluginCategoryName</key>
		<string>性能工具</string>
		<key>pluginClassName</key>
		<string>YKWMemoryPlugin</string>
	</dict>
	<dict>
		<key>pluginName</key>
		<string>FPS</string>
		<key>pluginInfo</key>
		<string>主要功能来自网络</string>
		<key>pluginCharIconText</key>
		<string>❁</string>
		<key>pluginCategoryName</key>
		<string>性能工具</string>
		<key>pluginClassName</key>
		<string>YKWFPSPlugin</string>
	</dict>
	<dict>
		<key>pluginName</key>
		<string>网络流量</string>
		<key>pluginInfo</key>
		<string>主要功能来自网络</string>
		<key>pluginCharIconText</key>
		<string>✾</string>
		<key>pluginCategoryName</key>
		<string>性能工具</string>
		<key>pluginClassName</key>
		<string>YKWDataFlowPlugin</string>
	</dict>
</array>
</plist>
